<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-md-11">
          <span>
            <span class="subreddit-text"><a class="post-url" href="">{{post.subclonnitName}}</a></span>
            <span> . Posted
              <span> {{post.duration}} </span>
              by
              <a class="username" href="">{{post.username}}</a>
            </span>
          </span>
            <button class="delete float-right" (click)="deletePost(postId)" [hidden]="!isCurrentUserAuthor(post.username)">Delete</button>
          <hr />
          <a routerLink="post.url" class="post-title">{{post.postName}}</a>
          <div>
            <p class="post-text" [innerHtml]="post.description"></p>
          </div>
          <div class="post-comment" style="padding-bottom: 3rem;">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group">
                <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
              </div>
              <button type="submit" class="login float-right" [disabled]="!isLoggedIn()">Comment</button>
            </form>
          </div>

          <div style="padding-bottom: 0.2rem;" *ngFor="let comment of comments">
            <div class="comment">
              <a class="username" routerLink="/user/comment.username">{{comment.username}}</a>
              <button class="delete float-right" (click)="deleteComment(comment.id)" [hidden]="!isCurrentUserAuthor(comment.username)">Delete</button>
              <div>
                <p>{{comment.duration}}</p>
              </div>
              <b>{{comment.text}}</b>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
      <app-subclonnit-side-bar></app-subclonnit-side-bar>
    </div>
  </div>
</div>